@function rem($size) {
    @return $size / 16px * 1rem;
}

@function vw($size) {
    @return 1366px/100 * $size/1vw;
}

@function vh($size) {
    @return 766px/100 * $size/1vh;
}

.flex{
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: column;
}

.flex-col {
    flex-direction: row;
}

.width-all{
    width: 100%;
}

.width-col1{
    width: 60%;
}

.width-col2{
    width: 35%;
}