@function rem($size) {
    @return $size / 16px * 1rem;
}

.flex{
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: column;
}

.flex-col {
    flex-direction: row;
}

.width-all{
    flex-basis: 100%;
}

.width-50{
    flex-basis: 50%;
}