@import "base";
@import "footer";
@import "reset";
@import "utilidades";
@import "guias";
@import "media";

div#text {
  h1 {
    font-size: rem(52px);
    line-height: 1;
    margin-bottom: rem(10px);
  }
}

.star {
  width: rem(125px);
  height: rem(24px);

  $start: url(/images/icon-star.svg);
  $fivestart: $start, $start, $start, $start, $start;
  $start_position: rem(0px), rem(1 * 25px), rem(2 * 25px), rem(3 * 25px),
    rem(4 * 25px);

  background-image: $fivestart;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: $start_position;

  display: inline-block;
}

.align-left {
  justify-self: left;
  align-self: flex-start;
}
.align-center {
  justify-self: center;
  align-self: center;
}
.align-right {
  justify-self: right;
  align-self: flex-end;
}

ul#stat {
  justify-self: center;
  // align-self: center;

  li {
    @extend .flex-center;
    justify-content: start;
    flex-wrap: nowrap;

    width: 80%;
    margin: rem(10px) rem(0px);
    padding: 0 rem(20px);

    & > * {
      margin: rem(10px) rem(15px);
      @include movil {
        margin: auto;
      }
    }
  }
  @include movil {
    width: 100%;
    li {
      display: block;
      width: auto;
    }
  }
}

ul#person {
  align-content: space-between;
  justify-content: space-between;
  min-height: vh(25vh);
  li {
    width: 32%;
    height: max-content;

    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: rem(80px) auto auto;
    img {
      grid-row-start: 1;
      grid-row-end: span 2;
    }
    h3 {
      grid-column-start: 2;
      grid-column-end: span 2;
    }
    p {
      grid-row-start: 3;
      grid-column-start: span 3;
    }
  }
  @include movil {
    text-align: initial;
    li {
      width: 100%;
    }
  }
}
